# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.

# Ignore temp files
*~

# Ignore Tmux files
tmux*

# Ignore core and vendor when managing dependencies with Composer.
web/core
vendor

# Ignore configuration files that may contain sensitive information.
# Ignore paths that contain user-generated content.
web/sites/
web/private:/
*.sql

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.


composer.json
composer.lock
web/modules/contrib
web/libraries
web/.ht.router.php
web/modules/.gitkeep
LICENSE
README.md
drush
scripts
load.environment.php
phpunit.xml.dist
.env.example
.travis.yml
.csslintrc
.editorconfig
.eslintignore
.eslintrc
.eslintrc.json
.gitattributes
.htaccess

autoload.php
index.php
profiles/
sites/
robots.txt
update.php
web.config



config/staging/bartik.*
config/staging/color.theme.bartik.yml
config/staging/bartik.settings.yml
config/staging/backup_migrate.*
config/staging/system.file.yml
config/staging/system.site.yml
config/staging/block.block.navigationbb.yml
config/staging/block.block.changerdutilisateur.yml
config/staging/block.block.dafor.yml
config/staging/system.menu.dafor.yml
config/staging/dblog.settings.yml

modules/custom/bb/tags

web/themes/contrib/bootstrap/
