.VPEIPtoggle_old {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float : right;
  width : 185px;
  height : 66px;
  background-color: yellow;
  background : url(vpeip.png) no-repeat 0 0;
  padding: 50px;
  font-size: 20px;
  z-index: 100;
}
.VPEIPtoggle {
  color: #28B468;
  cursor: pointer;
}
.VPEIP {
  color: #28B468;
}
.views-exposed-form {
  display: none;
}
#views-exposed-form-bb-pia-04-page-2 {
  display: block;
}
.logoI {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 7px;
  margin: 1px;
  background-color: #FFDFD3;
}
.logoC {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #e0BBE4;
}
.logoG {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #CCEEEE;
}
.logoP {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #CCFFDD;
}
.logoD {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #FFEECC;
}
.logoM {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #CCDDEE;
}
.logoH {
  border: 1px solid;
  border-radius: 6px;
  padding: 0px 3px;
  margin: 1px;
  background-color: #CCDDEE;
}
