.body{
  background-color: #BBB;
}
  .VPEIPtoggle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float : right;
  width : 100px;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}
.name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float : right;
  width : 100px;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}
