{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
{% set alea=random(100000000, 999999999) %}

<h3 style="cursor: pointer;" onclick="yourFunction('{{alea}}')">{{ title }}</h3>
<div style="display:none" class='{{alea}}'>
{{ content }}
</div>
