.FIL {
  color: #8b00a6;
  font-weight: bold;
}
.PAF {
  color: #004a78;
  font-weight: bold;
}
.bggreen {
 background:#1CB841;
}
.white {
  color: white;
}
.green {
  color: green;
}
.bgblue {
 background:#1F8DD6;
 height: auto;
}
.clear {
  clear:both;
  height:0; overflow:hidden;
}
.common-wrapper {
  padding: 19px;
}
.sessions {
  background-color:#FFF8DC;
}
.sessions-dark {
  background-color:#EEE8CD;
}
.journal {
  background-color:#F0F8FF;
}
.journal-dark {
  background-color:#E0E3EF;
}
.gray {
  color: gray;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.form-item {
  margin-top: 0em;
  margin-bottom: 0em;
}
ul.no-dot {
  list-style-type: none;
  padding: 0;
}
.no-link {
  text-decoration: none;
  border-bottom: 0px solid;
}
.mq-table th.highlight {
  background-color: rgb(255, 234, 133);
  color: #676767;
}

.mq-table td.highlight {
  background-color: rgb(255, 250, 229);
  color: #676767;
}
.views-table tr:hover {
  background-color: #ffff99;
}
.pure-menu-children {
  margin: -8px;
}

.xxl {
font:250%;
font-weight:bold;
}
.xl {
font:200%;
}

.strike{
    text-decoration: line-through;
    }
.round {
border-radius:4px;
}
.spacedxl {
padding:10px;
margin:10px;
}


/*  pour les codes : cf http://astronautweb.co/snippet/font-awesome/ */
.fa-flag-to-play:before{
  content: "\f024";
  color: red; }
.fa-flag-to-play:hover:before{
  font-size: 1.33333em;
  content: "\f144";
  color: blue;
}
.fa-flag-to-envelope:before{
  content: "\f024";
  color: red; }
.fa-flag-to-envelope:hover:before{
  content: "\f144";
  color: green;
}
.fa-envelope-to-flag:before{
  content: "\f0e0";
  color: green; }
.fa-envelope-to-flag:hover:before{
  content: "\f024";
  color: red;
}
.fa-pause-to-play:before{
  color: gray;
  content: "\f04c"; }
.fa-pause-to-play:hover:before{
  font-size: 1.33333em;
  content: "\f144";
  color: blue;
}
.fa-play-to-pause:before{
  font-size: 1.33333em;
  color: blue;
  content: "\f144"; }
.fa-play-to-pause:hover:before{
  font-size: 1em;
  content: "\f04c";
  color: gray;
}

.view-display-id-block_2 {
  background-color: #f3faef;
}
.site-branding__text {
display:inline;
}
.breadcrumb {
display:none;
}
.layout-main {
margin-top:10px;
}
.region-header {
  padding:0 15px 0;
  }
.left {
  float: left;
  width: 70%;
  overflow: hidden;
}

.right {
  overflow: hidden;
}
#edit-organisation-format {
  display:none;
}
#edit-infospasconvocform-format {
  display:none;
}


#menu, #contenu, #footer {
  padding:1px 0;
}
#entete {
  text-align:center;
}
#mymain {
  width:710px;
  max-with:960px;
  margin:0 auto;
}
#menu  {
  background-color:#EEE;
  text-align:justify;
  float:left;
  width:240px;
  border:1px solid #9FC6FF;
  margin :0px 10px 10px 0px;
  padding:5px;
}
#contenu1 {
  margin-left:245px;
  text-align:justify;
}
#contenu2 {
  margin-left:260px;
  text-align:justify;
  border:1px solid #9FC6FF;
  padding:5px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}


.list-type1 p {
margin : 0 0 0;
}
.list-type1{
width:510px;
margin:0 auto;
}

.list-type1 ul{
counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 15px;
font-family: 'Raleway', sans-serif;
padding: 0;
margin-bottom: 4em;
}
.list-type1 a{
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #5975D9;
color: white;
text-decoration: none;
box-shadow:inset 0.5em 0 black;
-webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 1s;
}

.comme-list-type1 {
  margin:10px auto;
  text-align:center;
  width:675px;
font-size: 15px;
font-family: 'Raleway', sans-serif;
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
/* margin: .5em 0; */
background: #5975D9;
color: white;
text-decoration: none;
box-shadow:inset 0.5em 0 black;
-webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 1s;
}


.list-type1 a:hover{
box-shadow:inset 1em 0 black;
}


